<!-- add_car_ad.html -->
<!DOCTYPE html>
<html lang="fa", dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Car Ad</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../assets/style.css">
    <title>Car Ads List</title>
</head>
    <link rel="stylesheet" href="../../assets/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a  class="nav-link active" aria-current="page" href="/machines">ماشین ها</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a  class="nav-link active" aria-current="page" href="/ads/add">ثبت آگهی</a>
            </li>
        </ul>
        <a href="/" aria-current="page" class="navbar-brand mx-auto" data-v-5561ece8="" data-v-08673970="">
            <br>
            <svg width="81" height="65" viewBox="0 0 81 65" fill="none" xmlns="http://www.w3.org/2000/svg" class="bama-logo__svg" data-v-5561ece8="" style="margin-right:-150px;">
                <path d="M78.5 26.2959H62.5V42.2959H78.5V26.2959Z" fill="#1F1F1E" data-v-5561ece8=""></path> 
                <path d="M18.5 2.2959H2.5V42.2959H18.5V2.2959Z" fill="#1F1F1E" data-v-5561ece8=""> </path> 
                <path d="M58.5 2.2959H42.5V42.2959H58.5V2.2959Z" fill="#1F1F1E" data-v-5561ece8=""></path> 
                <path d="M30.5 42.2959C34.9183 42.2959 38.5 38.7142 38.5 34.2959C38.5 29.8776 34.9183 26.2959 30.5 26.2959C26.0817 26.2959 22.5 29.8776 22.5 34.2959C22.5 38.7142 26.0817 42.2959 30.5 42.2959Z" fill="#1F1F1E" data-v-5561ece8=""></path>
                <path d="M70.5 62.2959C74.9183 62.2959 78.5 58.7142 78.5 54.2959C78.5 49.8776 74.9183 46.2959 70.5 46.2959C66.0817 46.2959 62.5 49.8776 62.5 54.2959C62.5 58.7142 66.0817 62.2959 70.5 62.2959Z" fill="#1F1F1E" data-v-5561ece8=""></path>
            </svg>
        </a>
    </nav>
<div class="container" style="margin-right: 16%;">
    <br><br>
    <h2 style="text-align: right;">ثبت آگهی</h2>
    <h6 style="text-align:right">برای فروش خودرو </h6>
    <br><br>
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-2 " style="text-align: right;">
                <label for="name" class="form-label">نام و نام خانوادگی</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="col-md-2 " style="text-align: right;">
                <label for="name" class="form-label">نوع فروشنده</label>
                <select id="disabledSelect" class="form-select" name="selected_type">
                        <option></option>
                        <option>shakhsi</option>
                        <option>bongah</option>
                        <option>namayeshgah</option>
                </select>
            </div>
            <div class="col-md-2 " style="text-align: right;">
                <label for="brand" class="form-label">برند</label>
                <select id="disabledSelect" class="form-select" name="selected_brand">
                        <option></option>
                    {% for brand in brands %}
                        <option style="text-align: left;">{{ brand.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2 " >
                <label for="car" class="form-label">مدل</label>
                <select id="disabledSelect" class="form-select" name="selected_car">
                        <option></option>
                    {% for car in cars %}
                        <option style="text-align: left;">{{ car.name }}</option>
                    {% endfor %}
                </select>
                <!-- <input type="text" class="form-control" id="name" name="name" required> -->
            </div>
            <div class="col-md-1 " style="text-align: right;">
                <label for="color" class="form-label">رنگ</label>
                <input type="text" class="form-control" id="color" name="color" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4 " style="text-align: right;">
                <label for="city" class="form-label">شهر</label>
                <input type="text" class="form-control" id="city" name="city" required>
            </div>
            <div class="col-md-3 " style="text-align: right;">
                <label for="address" class="form-label">آدرس</label>
                <input type="text" class="form-control" id="address" name="address" required>
            </div>
            <div class="col-md-2 " style="text-align: right;">
                <label for="phone_number" class="form-label">شماره تلفن</label>
                <input type="text" class="form-control" id="phone_number" name="phone_number" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 " style="text-align: right;">
                <label for="kilometer" class="form-label">کیلومتر</label>
                <input type="number" class="form-control" id="kilometer" name="kilometer" required>
            </div>
            <div class="col-md-3 " style="text-align: right;">
                <label for="price" class="form-label">قیمت (تومان)</label>
                <input type="number" class="form-control" id="price" name="price" required>
            </div>
            <div class="col-md-2 " style="text-align: right;">
                <label for="yeae" class="form-label">سال</label>
                <input type="number" class="form-control" id="year" name="year" required>
            </div>
            <div class="col-md-1 " style="text-align: right;">
                <label for="nardebam" class="form-label" style="margin-right: 15px;">نردبام</label>
                <br>
                <input class="form-check-input" type="checkbox" value="True" id="nardebam" style="width:70px;height: 35px;margin-right: 15px;" name="nardebam">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-9 " style="text-align: right;">
                <label for="description" class="form-label">توضیحات</label>
                <textarea class="form-control" id="description" rows="3" name="description"></textarea>
            </div>
        </div>
        <br>
        <div class="row">
            <button class="btn btn-primary col-md-9">افزودن آگهی</button>
        </div>
        <br><br>
    </form>
</div>
</body>
</html>
